body {
	background-color: #F7F9FA;
	color: rgb(108, 117, 125) !important;
}

a {
	color: #17A2B8;
}

h1, h2, h3, h4, h5, p, span, b, i, a {
	
}

canvas {
	min-height: 300px;
}
/*======================================
 * MODALS
======================================*/
#expenseModal {
	z-index: 9999;
}

/*======================================
 * CARD
======================================*/
.card {
	border: none;
}

/*======================================
 * PAGINATION
======================================*/
.page-item.active .page-link {
	background-color: #17A2B8;
	border: 1px solid #17A2B8;
}