body {
	background-color: #F7F9FA;
	color: rgb(108, 117, 125) !important;
}

canvas {
	min-height: 300px;
}
/*======================================
 * MODALS
======================================*/
#expenseModal {
	z-index: 9999;
}

.card {
	border: none;
}