/*======================================
 * Body
======================================*/
body {
	background-color: #D0D3D6;
}

/*======================================
 * Navbar
======================================*/
.navbar .navbar-brand {
	color: white;
}
.navbar .nav-item .nav-link {
	color: white;
}

/*======================================
 * Card
======================================*/
.card {
	border-radius: 0px;
}

/*======================================
 * Statistics Card
======================================*/
.statistics-card {
	margin-bottom: 10px;
	color: rgb(108, 117, 125);
}