/*======================================
 * DOM
======================================*/
body {
	background: #003464 url(/defaults/comics_background.jpg) top center repeat;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color:#003464;
}

/*======================================
 * Navbar
======================================*/
.navbar .navbar-brand {
	color: white;
}
.navbar .nav-item .nav-link {
	color: white;
}

/*======================================
 * Card
======================================*/
.card {
	border-radius: 0px;
}

/*======================================
 * Character
======================================*/
.character .character-image, .character .character-image img {
	height: 400px;
}
.character-info {
	margin-top: 8%;
}

/*======================================
 * Pagination
======================================*/
.pagination {
	justify-content: center !important;
}

/*======================================
 * Main Content Container
======================================*/
#main-content {
	background-color: #CFD8DC;
	padding: 20px 20px 10px 20px;
}