/*======================================
 * Navbar
======================================*/
.navbar .navbar-brand {
	color: white;
}
.navbar .nav-item .nav-link {
	color: white;
}

/*======================================
 * Card
======================================*/
.card {
	border-radius: 0px;
}

/*======================================
 * Character
======================================*/
.character .character-image, .character .character-image img {
	height: 400px;
}
.character-info {
	margin-top: 8%;
}

/*======================================
 * Pagination
======================================*/
.pagination {
	justify-content: center !important;
}
