<div class="row education border border-light border-0">
	<div class="col-md-2 align-self-center text-center education-city">
		<h5>
			{{ education.city }}, <span class="font-weight-bold">{{ education.country }}</span>
		</h5>
		<span> {{ education.startDate }} </span> - <span> {{ education.endDate }} </span>
	</div>
	<div class="col-md-10">
		<h2> {{ education.institute }} </h2>
		<p>
			<span class="font-weight-bold">{{ education.degree | uppercase }}</span> {{ education.subject }} 
		</p>
	</div>
</div>