<div class="row education">
	<div class="col-md-2 align-self-center text-center education-city">
		<h5>
			{{ education.city }}, <span class="font-weight-bold">{{ education.country }}</span>
		</h5>
		<span> {{ education.startDate }} </span> - <span> {{ education.endDate }} </span>
	</div>
	<div class="col-md-10 education-content">
		<div class="education-content-body">
			<p>
				<h2> {{ education.institute }} </h2>
				<span class="font-weight-bold">{{ education.degree | uppercase }}</span> {{ education.subject }} 
			</p>
		</div>
	</div>
</div>