<div class="row experience">
	<div class="col-md-7 experience-company">
		<div class="content">
			<h3>{{ content.company }}</h3>
			<p class="badges"><span class="badge badge-primary" ng-repeat="tech in content.techStack">{{ tech }}</span></p>
			<button class="btn btn-sm btn-dark" data-toggle="collapse" data-target="#experience_{{ content.id }}">view responsibilities</button>
		</div>
	</div>
	<div class="col-md-5 experience-details">
		<p>
			<span class="block">{{ content.position | uppercase }}</span>
			
			<span class="block">
				<span>{{ content.startDate.month + ' ' + content.startDate.year }}</span>
				 - 
				<span>{{ content.currentlyWorking ? 'Present' : content.endDate.month + ' ' + content.endDate.year}}</span>
			</span>
			<span class="badge badge-dark">{{ content.type | uppercase }}</span>
		</p>
	</div>
	<div class="col-md-12 collapse" id="experience_{{ content.id }}">
		<div class="experience-responsibilities">
			<ul>
				<li>Appointed as web developers of PHP.</li>
				<li>Worked on backend in PHP 7 and NodeJS and in different frameworks such as Laravel, Zend Framework 3</li>
				<li>Worked on frontend in Javascript, jQuery, HTML5, CSS</li>
			</ul>
		</div>
	</div>
</div>