<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSRF Token -->
	<meta name="csrf-token" content="{{ csrf_token() }}">

	<title>{{ config('app.name', 'Laravel') }}</title>

	<!-- Scripts -->
	<script src="{{ asset('js/app.js') }}" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 

	<!-- Styles -->
	<link href="{{ asset('css/app.css') }}" rel="stylesheet">
	<style>
		body {
			height: 100%;
			background-color: lightblue;
			font-family: "Quicksand";
		}
		#leftNavigation {
			margin-top: 50%;
			text-align: right;
		}
	</style>
</head>
<body>
	<div id="app">
		
		<div class="row">
			<div class="col-md-3">
				<div class="container">
					
					
					<div id="leftNavigation">
						
						<h1><span class="font-weight-bold">Ali</span> Rasheed</h1>
						<ul>
							<li>Home</li>
							<li>About Me</li>
							<li>Education</li>
							<li>Skills</li>
							<li>Experience</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		
		<main class="py-4">
			@yield('content')
		</main>
	</div>
</body>
</html>
